node_modules/*
.env

cache/*
temp/*
.dev/*

desktop.ini

# public omissions
src/pages/hidden/*
src/**/*.hidden.js

# omit no matter what
assets/audio/hidden/*
assets/video/hidden/*
assets/batch/hidden/*
assets/images/hidden/*